{% extends "base.html" %}

{% block title %}Contacts
{% endblock title %}


    {% block content %}


<div class="main">
    <h1>42 Coffee Cups Test Assignment</h1>
    <h2>Contacts</h2>
    <div class="left_column">
        <div class="string_block">
            <ul>
                <li>Name</li>
                <li>Last name</li>
                <li>Date of birth</li>
            </ul>
        </div>
        <div class="string_block">
            <ul>
                <li>John</li>
                <li>Galt</li>
                <li>1873-02-12</li>
            </ul>
        </div>
        <div>Bio:</div>
        <p>Ready to learn from experienced developers.
Ready to perform small tasks.
Have experience creating sites on WordPress.
Know that there are Google and Stackoverflow.
Collect nice and simple problem solving.
            <br>
PROFESSIONAL SKILLS:
                <br>
Python-basic,
Django-basic,
HTML,CSS, JavaScript-basic,
PostgreSQL,MySQL,SQLite.
                    <br>
ADDITIONAL SKILLS:
                        <br>
Git,MC,CLI,Virtualenv,Ubuntu.
Experience with deployment.
English-intermediate.
                            <br>
EDUCATION:
                                <br>
Donetsk National University of Economics and Trade,Engineer- technologist of the Department of nutrition.
                                    <br>
ADDITIONAL EDUCATION:
                                        <br>
Podobabook www.vitaliypodoba.com/books/django-for-beginners
                                            <br>
https://www.coursera.org/course/pythonlearn
                                                <br>
https://www.codecademy.com/tracks/python
                                                    <br>
        </p>
        </div>
        <div class="right_column">
            <div class="string_block">
                <ul>
                    <li>Email:</li>
                    <li>Jabber:</li>
                    <li>Skype:</li>
                </ul>
            </div>
            <div class="string_block">
                <ul>
                    <li>john.galt@gmail.com</li>
                    <li>john.galt@gmail.com</li>
                    <li>john.galt</li>
                </ul>
            </div>
            <div>Other contacts:</div>
            <p>https://github.com/miletskiy
               https://www.facebook.com/s.miletskiy</p>
        </div>
    </div>

{% endblock %}
