{% extends "base.html" %}

{% block title %}Contacts
{% endblock title %}
{% block body_id %}id_body
{% endblock %}
{% block body_class %}content
{% endblock %}

    {% block content %}
    <div class="main">

        <h2>42 Coffee Cups Test Assignment</h2>

        <table id="id_contacts_table">
            <tr class="table_title">
                <th class="left_column" colspan="2"></th>
                <th class="right_column" colspan="2">Contacts</th>
            </tr>
            <tr>
                <td>Name</td>
                <td> {{ applicant.first_name }} </td>
                <td>Email</td>
                {# <td>s.miletskiy@mockmyid.com</td> #}
                <td>{{ applicant.email }}</td>
            </tr>
            <tr>
                <td>Last name</td>
                <td>{{ applicant.last_name }}</td>
                <td>Jabber</td>
                <td>{{ applicant.jabber }}</td>
            </tr>
            <tr>
                <td>Date of birth</td>
                <td>{{ applicant.birthday }}</td>
                <td>Skype</td>
                <td>{{ applicant.skype }}</td>
            </tr>
            <tr>
                <td colspan="2">Bio:</td>
                <td colspan="2">Other contacts:</td>
            </tr>
            <tr>
                <td colspan="2"><textarea rows="7" cols="54">
                {{ applicant.bio }}</textarea></td>
                <td colspan="2"><textarea rows="7" cols="54">
                {{ applicant.contacts }}</textarea></td>
            </tr>
        </table>
        <br>
        <hr>
        <br>
    </div>
{% endblock %}
