{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Edit Applicant{% endblock title %}

{% block extra_head %}
    {{ form.media }}
{% endblock extra_head %}

{% block content %}

<div class="main">
    <h1>42 Coffee Cups Test Assignment</h1>
{% if not form.instance %}
    <br>
        <p>There are no applicants in database.</p>
{% else %}
    <br>
    <form action="{% url "hello:edit_applicant" %}" method="post"
          id="id_edit_form" novalidate enctype="multipart/form-data">
        {% csrf_token %}

        {% if form.errors %}
          <div class="errorlist">
            Please, fix the following errors:
          </div>
        {% endif %}

    <div class="data">
        <div class="left_column">
            <div class="string_block list1">
                <ul>
                    <li>{{ form.first_name.label_tag }}</li>
                    <li>{{ form.last_name.label_tag }}</li>
                    <li>{{ form.birthday.label_tag }}</li>
                </ul>
            </div>
            <div class="string_block list2">
                <ul>
                    <li>{{ form.first_name.errors }}{{ form.first_name }}</li>
                    <li>{{ form.last_name.errors }}{{ form.last_name }}</li>
                    <li>{{ form.birthday.errors }}{{ form.birthday }}</li>
                </ul>
            </div>
            <br>
            <br>
            <div>{{ form.photo }}</div>

    {% if form.instance.photo %}
            <br>
            <img src="{{ form.instance.photo.url }}" alt="Applicant_photo"
            class="photo_applicant">
    {% else %}
            <br>
            <img src="{{ STATIC_URL }}img/default.jpg" alt="Default_photo"
            class="photo_applicant">
    {% endif %}
        </div>

        <div class="right_column">
            <div class="string_block list3">
                <ul>
                    <li>{{ form.email.errors }}{{ form.email.label_tag }}</li>
                    <li>{{ form.email.errors }}{{ form.jabber.label_tag }}</li>
                    <li>{{ form.email.errors }}{{ form.skype.label_tag }}</li>
                </ul>
            </div>
            <div class="string_block list4">
                <ul>
                    <li>{{ form.email }}</li>
                    <li>{{ form.jabber }}</li>
                    <li>{{ form.skype }}</li>
                </ul>
            </div>
            <br>
            <br>

            <div>{{ form.contacts.label_tag }}</div>
            <br>
               <div>{{ form.contacts }}</div>
            <br>

            <div>{{ form.bio.label_tag }}</div>
            <br>
               <div>{{ form.bio }}</div>
            <br>

        </div>
    </div>
    <br>
    <div class="buttons">
        <input type="submit" id="id_save_button" name="save_button" value="Save" />
        <a href="{% url 'hello:contacts' %}" name="cancel_button">Cancel</a>
    </div>
</form>

    <div class="messages">
        <div id="id_successMsg">
          Changes have been saved
        </div>
        <div id="id_errorMsg">
          Some errors have occurred
        </div>
    </div>

{% endif %}

    <div class="bottom_block">
        <hr>
        <div>
            <a id="id_requests" href="{% url 'hello:requests' %}">requests</a>
        </div>
    </div>
</div>

    <div id="id_indicator">
      <img src="https://cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
      <p>Submitting data...</p>
    </div>

    <div id="id_background_layer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="http://malsup.github.io/min/jquery.form.min.js"></script>

<script src="{% static "js/edit_applicant.js" %}"></script>

{% endblock %}
