<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Edit 42 Coffee Cups Test Assignment</title>

    <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />


    <link rel="stylesheet" href="../../../assets/css/reset_css.css" media="screen, projection" />
    <link rel="stylesheet" href="../../../assets/css/screen.css" media="screen, projection" />

</head>

<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

    <div class="main">
        <h1>42 Coffee Cups Test Assignment</h1>

        <br>
        <br>

        <div class="data">

            <div class="left_column">
                <div class="string_block">
                    <ul>
                        <li>Name</li>
                        <li>Last name</li>
                        <li>Date of birth</li>
                    </ul>
                </div>
                <div class="string_block list2">
                    <ul>
                        <input id="id_first_name" maxlength="256" name="first_name" type="text" />
                        <input id="id_last_name" maxlength="256" name="last_name" type="text" />
                        <input id="id_birthday" name="birthday" type="text" />
                    </ul>
                </div>
                <br>
                <br>
                <div>Photo:
                    <input id="id_image" name="image" type="file" />
                </div>

                <br>
                <br>
                <img src="../../../assets/img/default.jpg" alt="Applicant_photo"
                class="photo_applicant">

            </div>
            <div class="right_column">
                <div class="string_block">
                    <ul>
                        <li>Email:</li>
                        <li>Jabber:</li>
                        <li>Skype:</li>
                    </ul>
                </div>
                <div class="string_block list4">
                    <ul>
                        <input id="id_email" maxlength="50" name="email" type="email" />
                        <input id="id_jabber" maxlength="50" name="jabber" type="text" />
                        <input id="id_skype" maxlength="50" name="skype" type="text" />
                    </ul>
                </div>
                <br>
                <br>

                <div>Other contacts:</div>
                <br>
                <textarea cols="60" id="id_contacts" name="contacts" rows="3"></textarea>
                <br>
                <br>

                <div>Bio:</div>
                <br>
                <textarea cols="60" id="id_bio" name="bio" rows="18"></textarea>

            </div>
        </div>
        <br>

        <div>
            <input type="submit" id="id_save_button" name="save_button" value="Save" />
            <a href="#" name="cancel_button">Cancel</a>
        </div>


        <div class="bottom_block">
            <hr>
            <div>
                <a id="id_requests" href="#">requests</a>
            </div>
        </div>
    </div>
</body>

</html>