{% extends "base.html" %}

{% block title %}Edit Applicant
{% endblock title %}

{% block content %}

<div class="main">
    <h1>42 Coffee Cups Test Assignment</h1>
    {% if not form.instance %}
    <br>
        <p>There are no applicants in database.</p>
    {% else %}

    <br>
    <form action="{% url "hello:edit_applicant" %}" method="post"
          id="id_edit_form" novalidate enctype="multipart/form-data">
      {% csrf_token %}

    <div class="data">

        <div class="left_column">
            <div class="string_block">
                <ul>
                    <li>Name</li>
                    <li>Last name</li>
                    <li>Date of birth</li>
                </ul>
            </div>
            <div class="string_block list2">
                <ul>
                    <li>{{ form.first_name }}</li>
                    <li>{{ form.last_name }}</li>
                    <li>{{ form.birthday }}</li>
                </ul>
            </div>
            <br>
            <br>
            <div>Photo:
                <input id="id_image" name="image" type="file" />
            </div>

            <br>
            <br>
            <img src="{{ STATIC_URL }}default.jpg" alt="Applicant_photo"
            class="photo_applicant">

        </div>
        <div class="right_column">
            <div class="string_block">
                <ul>
                    <li>Email:</li>
                    <li>Jabber:</li>
                    <li>Skype:</li>
                </ul>
            </div>
            <div class="string_block list4">
                <ul>
                    <li>{{ form.email }}</li>
                    <li>{{ form.jabber }}</li>
                    <li>{{ form.skype }}</li>
                </ul>
            </div>
            <br>
            <br>

            <div>Other contacts:</div>
            <br>
               <div>{{ form.contacts }}</div>
            <br>
            <br>

            <div>Bio:</div>
            <br>
            <br>
               <div>{{ form.bio }}</div>
            <br>

        </div>
    </div>
    <br>

    <div>
        <input type="submit" id="id_save_button" name="save_button" value="Save" />
        <a href="{% url 'hello:contacts' %}" name="cancel_button">Cancel</a>
    </div>

    {% endif %}

    <div class="bottom_block">
        <hr>
        <div>
            <a id="id_requests" href="{% url 'hello:requests' %}">requests</a>
        </div>
    </div>
</div>

{% endblock %}


