{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Requests{%endblock%}

{% block content %}
    <div class="main requests">
        <h1>42 Coffee Cups Test Assignment</h1>
        <h2>Requests</h2>

        <table width="100%" id="id_requests_table">
            <tr class="title">
                <th>Id</th>
                <th>Title</th>
                <th>Emergence</th>
                <th>Path</th>
                <th>Method</th>
                <th>User</th>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>
            <tr>
                <td>Id</td>
                <td>Title</td>
                <td>Emergence</td>
                <td>Path</td>
                <td>Method</td>
                <td>User</td>
            </tr>

        </table>
        <hr>
      <div>
          <a href="{% url 'hello:contacts' %}">back to homepage</a>
      </div>
    </div>


{% endblock %}

