
.main {
  margin: 0 auto;
  width: 750px;
  margin-top: 22px;
  font-family: Tahoma;
  background-color: #cce5ff;
  font-size: 90%;
  padding: 20px;
  border-radius: 5px;
}

.main:after {
  content: '';
  display: block;
  clear: both;
}

.data:after {
  content: '';
  display: block;
  clear: both;
}

body {
  background-color: #EEEEEF;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  margin-bottom: 20px;
  float: right;
  width: 42%;
}

.left_column {
  clear: both;
  float: left;
  width: 42%;
  box-sizing: border-box;
}

.right_column {
  float: right;
  width: 56%;
  box-sizing: border-box;
}

.string_block {
  display: inline-block;
  width: 30%;
}

.string_block li {
  margin: 7px 0;
}

p {
  line-height: 20px;
  margin-top: 7px;
}

hr {
  border: solid 1px black;
}

.bottom_block {
  margin: 10px 0;
}

a:hover {
    color: red;
    text-decoration: none;]
}

table, th, td {
  border: 1px solid black;
  text-align:center;
  padding: 8px;
  margin-bottom: 20px;
}

th {
  font-weight: bold;
}

.photo_applicant {
  width: 100%;
}
input {
  margin: 3px 0;
}