
.main {
    margin: 0 auto;
    width: 750px;
    margin-top: 22px;
    font-family: Tahoma;
    background: url("http://framebox.org/static/images/cell10x10.gif");
    font-size: 90%;
    padding: 20px;
}

body {
    background-color: #EEEEEF;
}

table, th, td {
    /*border: 1px solid olive;*/
    border-spacing: 8px;
}

#id_contacts_table {
    width: 100%;
}